@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Gochi+Hand&family=Jersey+15&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Rubik+Wet+Paint&display=swap');

body {
    font-family: "Doto", serif;
    font-weight: 800;
    font-size: 18px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 3rem;
    background: linear-gradient(#f0f18a, #6495ed);
    height: 100vh;
}

.container {
    margin: 5rem;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(224, 223, 116, 0.9);
    box-shadow: black 0 10px 20px;
    max-width: 1000px;
    position: relative;
}

button {
    box-shadow: black 0 2px 8px;
    border: none;
    background: linear-gradient(#40c0fc, #91d7ff);
    color: #494949;
    border-radius: 5px;
    padding: 10px 12px;
    cursor: pointer;
}

button:hover {
    background: linear-gradient(#fffc5a, #91d7ff);
    font-style: italic;
}

button:active {
    background: linear-gradient(#fff, #fff);
}

main {
    margin: 1.5rem;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 5px;
}

.overlay-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 2;
}

.overlay-style {
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    transition: 1000ms;

    [type='button'] {
        background: rgba(0, 0, 0, 0);
        cursor: auto;
    }

    [class$='num-contain'],
    [id='result-contain'] {
        background-color: rgba(0, 0, 0, 0.2);
    }
}

.total {
    flex-direction: column;
    min-height: 100px;
}

.contain-tot {
    border: 1px solid black;
    background-color: rgb(255, 254, 207);
    transition: 3500ms;
}

.choose-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btns-for-play {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 75px
}

.choosed-number-text,
.btn-choose,
.total {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.choosed-number-text>* {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.num-contain,
.contain-tot,
#result-contain {
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 5px;
    margin-top: -9px;
}

.num-contain {
    background-color: #fff;
    border: none;
}

.total,
.choosed-number,
.choose-row,
.btn-choose {
    height: 60px;
}

.even-btns,
.odd-btns {
    display: flex;
    gap: 10px
}

.d-none {
    display: none;
}

.color {
    background-color: red;
}

.opacity {
    opacity: 0;
}

.ghost {
    color: rgba(0, 0, 0, 0);
    transition: 500ms;
}

.casper {
    animation-name: casper;
    animation-duration: 500ms;
    animation-timing-function: ease-in;
}

@keyframes casper {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.result-tranx {
    animation-name: resultNumber;
    animation-duration: 2500ms;
    animation-timing-function: ease-in;
}

@keyframes resultNumber {
    from {
        color: rgba(0, 0, 0, 0);
    }

    to {
        color: rgba(0, 0, 0, 1);
    }
}

.print-number {
    animation-name: choosedNumber;
    animation-duration: 1200ms;
    animation-timing-function: ease;
}

@keyframes choosedNumber {
    from {
        transform: rotate(0deg);
        color: rgba(0, 0, 0, 0);
    }

    to {
        transform: rotate(365deg);
        color: rgba(0, 0, 0, 1)
    }
}

@media(min-width: 1024px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        width: 100vw;
    }
}

@media(width <=768px) {

    #number-even-text,
    #number-odd-text,
    .choose-row {
        font-size: 15px
    }

    .btns-for-play,
    .choose-row {
        gap: 20px
    }

    .even-btns {
        margin-left: -29px
    }

    .odd-btns {
        margin-right: -29px
    }
}

@media (min-width: 550px) {
    body {
        line-height: 2rem;
    }

    main {
        margin: 1px
    }

    .container {
        margin: 4rem
    }

    .total {
        min-height: 80px;
    }

    .btns-for-play {
        gap: 40px
    }

    .choose-row {
        gap: 20px;
    }

    .num-contain,
    #result-contain {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #choose-group {
        text-align: center;
    }

    .even-btns {
        gap: 10px
    }

    .odd-btns {
        gap: 10px;
    }
}

@media(width < 549px) {
    .container {
        margin: 2rem
    }
}

@media(max-width: 492px) {
    .container {
        margin: 1rem
    }
}

@media(width < 489px) {
    body {
        line-height: 1rem;
        display: flex;
        align-items: center;
    }

    h1 {
        line-height: 1.8rem;
        margin: 0
    }

    main {
        margin: 5px;
        padding: 10px;
        height: 70vh;
        margin-top: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 50px
    }

    .container {
        margin: 1rem;
        height: 90vh;
    }

    .text-result {
        margin: 10px 0 30px 0;
    }

    .num-contain,
    #result-contain {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .your-number-min {
        display: block;
    }

    .your-number-max {
        display: none
    }

    .choosed-number-text {
        height: 90px;
    }

    .num-contain {
        margin-top: 10px;
        margin: 0 30px 0 30px
    }

    .choose-row {
        gap: 10px
    }

    .btn-choose {
        height: 200px;
        width: 75vw;
        position: relative
    }

    #play {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%);
    }

    .even-btns {
        position: absolute;
        top: 0;
        left: 25px;
    }

    #btn-odd-pc {
        position: absolute;
        top: 0;
        right: 0;
    }

    .odd-btns {
        position: absolute;
        top: 0;
        right: 25px;
    }

    #btn-even-pc {
        position: absolute;
        top: 0;
        left: 0;
    }

    .overlay-text {
        line-height: 5rem;
        top: 50%;
    }

}